@import "../../../scss/_variables";

.hero-career__content {
  position: relative;
}

.hero-career__inner {
  padding: rem(202) 0 rem(64);
  position: relative;
  z-index: 1;
  max-width: 538px;
}

.hero-career__title {
  font-family: $fontRegular;
  font-size: rem(38);
  line-height: 1.23;
  letter-spacing: 0.6px;
  text-align: left;
  color: $orangeColor;
  margin-bottom: rem(27);
}

.hero-career__text {
  font-family: $fontMedium;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
}

.hero-career__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-image: url(/img/shutterstock_40681102_bearbeitet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.career-area__content {
  position: relative;
  z-index: 1;
  padding: rem(78) 0 rem(106);
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.career-area__background {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
}


.career-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  .slide-up, .slide-down {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.5s ease-in-out;
  }

  .slide-down {
    max-height: 100em;
  }
}

.career-left-title-block {
  width: 250px;
  margin-right: 80px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.career-group-title {
  font-family:$fontBold;
  font-size:18px;
  margin-top: 20px;
  margin-bottom: 0;
  color: $orangeColor;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.career-ul-list {
  padding-top: 60px;
  max-width: 530px;
}

.career-li-list {
  position: relative;
  display: block;
  margin-bottom: rem(30);
  padding-left: 40px;

  &.active{
    .career-plus-icon{
      transform: rotate(45deg);
    }
  }
}

.career-title {
  font-size:rem(18);
  margin-top: 0;
  color: #575757;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.career-plus-icon {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease;
}

.career-description-paragraph {
  max-height: 0;
  overflow-y: hidden;
  margin-top: 15px;
  margin-bottom: 0;
  opacity: 1;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
  color: #575757;
  font-size: rem(16);
  line-height: 1.35;
  letter-spacing: 0.4px;
}

.career-link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.career_area__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:$fontMedium;
  font-size:rem(22);
  line-height:27px;
  letter-spacing: 3.3px;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  right: -10%;
  bottom: -65px;
  max-width: 470px;
  width: 100%;
  min-height: 130px;
  background-color: $orangeColor;
  transition: background-color 300ms ease;

  &:hover{
    background-color: #d15c2f;
  }

  span{
    background-image: url(/img/Pfeil_XL.svg);
    background-repeat: no-repeat;
    background-position: 100% 32px;
    padding-right: rem(130);
    padding-bottom: 55px;
    color: #fff;
  }
}

@media (max-width: 1024px){
  .career-group{
    flex-wrap: wrap;
    width: 100%;
  }
  .career-ul-list {
    padding: rem(60) 10% 0;
  }
  .career_area__btn{
    max-width: 352px;
    min-height: 94px;
    bottom: -40px;
    span{
      background-position: 100% 24px;
      padding-right: 52px;
      padding-bottom: 39px;
    }
  }
  .career_area__btn span {
  }
}

@media (max-width: 767px){
  .hero-career__inner {
    max-width: 360px;
  }
}

@media (max-width: 480px){
  .career-area__background{
    width: 100%;
  }
  .career-area__content{
    width: 100%;
  }
  .hero-career__inner {
    max-width: 260px;
  }
  .career-ul-list {
    padding: rem(60) 0 0;
  }
  .career_area__btn {
    max-width: 338px;
    min-height: 89px;
    right: 0;
  }
}