@import "../../../scss/_variables";

.cookie-banner {
  position: fixed;
  bottom: 0 ;
  left: 0 ;
  width: 100%;
  z-index: 999;
  background-color: rgba(216,216,216, 0.88);
  padding: 15px;
  color: #000000;
  font-size: rem(16);
  display: flex;
  align-items: flex-start;

  button{
    border: 0;
    outline: 0;
    background-color: transparent;
  }

  a{
    font-family: $fontBold;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
  }
}

.close-cookie {
  cursor: pointer;
  color: #464646;
  margin-left: 15px;
}