@import "../../../scss/_variables";

.success-message{
  max-width: 462px;
  text-align: left;
  border: solid 2px $orangeColor;
  padding: rem(150) rem(50);
  position: relative;
  h3{
    font-weight: 400;
    font-size: 38px;
    line-height: 0.66;
    letter-spacing: 1px;
    color: $orangeColor;
  }
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      &::before, &::after {
        background: $orangeColor;
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &.thick {
      &::before, &::after {
        height: 2px;
        margin-top: -2px;
      }
    }
  }
}

/* THE Date picker */
.react-datepicker-wrapper{
  width: 100%;
}
.react-datepicker__input-container{
  width: 100%;

  > input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-right: 16px;
    padding-left: 16px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.2px;
    border-radius: 0;

    &:focus{
      outline: none;
      border-color: $orangeColor;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: transparent;
      opacity: 0.6;
    }
  }

}
.react-datepicker__time-list{
  padding: 0;
}
.react-datepicker-popper{
  margin-top: -8px !important;
  .react-datepicker{
    background-color: #003c4e;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
  }

  .react-datepicker__header{
    background-color: $orangeColor;
    border-radius: 0;
    text-transform: capitalize;
  }

  .react-datepicker__time-container {
    width: 100px;

    .react-datepicker__time{
      background-color: #003c4e;

      .react-datepicker__time-box {
        width: inherit;

        ul.react-datepicker__time-list {
          padding-right: 0;

          li.react-datepicker__time-list-item:hover {
            background-color: $orangeColor;
          }
          li.react-datepicker__time-list-item--selected {
            background-color: $orangeColor;
          }
          li.react-datepicker__time-list-item {
            padding: 5px 40px 5px 5px;
          }
        }
      }
    }
  }

  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 2.8rem;
  }

  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #ffffff;
  }

  .react-datepicker__day{
    border: 2px solid transparent;
    &:hover {
      border-radius: 0;
      background-color: #003c4e;
      color: $orangeColor;
      border: 2px solid $orangeColor;
    }

    &.react-datepicker__day--keyboard-selected{
      border-radius: 0;
      background-color: transparent;
      border-color: $orangeColor;
      color: $orangeColor;
    }
  }

  .react-datepicker__day--outside-month{
    opacity: 0.4;
  }

  .react-datepicker__day--selected {
    border-radius: 0;
    background-color: #003c4e;
    color: $orangeColor;
    border: 2px solid $orangeColor;
  }

  .react-datepicker__current-month, .react-datepicker-time__header {
    color: #575757;
    font-weight: 500;
    font-size: 0.7rem;
  }
}



  .react-datepicker-popper{

    .react-datepicker__month-container {
      width: 80%;
    }

    .react-datepicker__day-name{
      width: 1rem;
    }
    .react-datepicker__month {
      margin: 0.1rem;
    }

    .react-datepicker {
      font-family:$fontRegular;
      font-size: 0.7rem;
      line-height: 0.8rem;
    }

    .react-datepicker__time-container{
      width: 20%;

      .react-datepicker__time {
        .react-datepicker__time-box {
          ul{
            &.react-datepicker__time-list {

            }
          }
        }
      }

    }
    .react-datepicker__day {
      margin: 0.06rem;
      width: 1.2rem;
      line-height: 0.8rem;
    }
  }


/* END Date picker */

@media (max-width: 767px) {
  .success-message {

    padding: 3.25rem 1.08333rem 2rem;
    h3 {
      font-size: 26px;
      line-height: 30px;
    }
  }
}
